<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Mini Message Board</title>
    <link
      href="https://cdn.jsdelivr.net/npm/flowbite@2.5.1/dist/flowbite.min.css"
      rel="stylesheet"
    />
    <script src="https://cdn.jsdelivr.net/npm/flowbite@2.5.1/dist/flowbite.min.js"></script>
    <style>
      body > section > div > article > footer > div > p > span:nth-child(1) {
        background-color: aquamarine;
        font-weight: bolder;
      }

      section {
        height: 95vh;
      }

      body > footer {
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
      }
    </style>
  </head>
  <body>
    <%- include('header') %>
    <section class="bg-gray-200 dark:bg-gray-900 py-8 lg:py-16 antialiased">
      <div class="max-w-2xl mx-auto px-4">
        <h2 class="text-lg lg:text-2xl font-bold text-gray-900 dark:text-white">
          Message Details
        </h2>
        <article class="p-6 text-base rounded-lg mb-3">
          <footer class="flex justify-between items-center mb-3">
            <div class="flex items-center">
              <p
                class="inline-flex items-center mr-3 text-sm text-gray-900 dark:text-white font-semibold"
              >
                <span
                  class="mr-2 w-8 h-8 rounded-full flex justify-center items-center"
                >
                  <%= message.username ?
                  message.username.charAt(0).toUpperCase() : "A" %>
                </span>

                <span><%= message.username || "anonymous" %></span>
              </p>
              <p class="text-sm text-gray-600 dark:text-gray-400">
                <%= message.added %>
              </p>
            </div>
          </footer>
          <p class="text-gray-500 dark:text-gray-400 ml-3 pl-2">
            <%= message.text %>
          </p>
        </article>
      </div>
    </section>
    <%- include('footer') %>
  </body>
</html>
